

body {
  background-color: #354967;
 
  font-family: sans-serif;
  font-size: 1.5em;
}

main {
   -webkit-box-shadow:0px 5px 10px #1c1c1c;
-moz-box-shadow:0px 5px 10px #1c1c1c;
box-shadow:0px 15px 30px #1c1c1c;
  font-family: sans-serif;
}

p {
  font-size: 0.5em;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}


a {
  color: steelblue;
  transition: 0.3s;
}

a:hover {
  color: skyblue;
  text-decoration: none;
  opacity: .5;
}

#footer {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/footer3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white; 
  height: 60px;
  padding: 0px;
}

p.text {
  font-family:serif;
  font-size: 20px;
  z-index: 100;
  opacity: 1;

}

.columns-centered {
  display:flex;
  justify-content: center;
  align-items: center;
 

}

.thumbnail:hover {
    position:relative;
    top:-10px;
    left:10px;
    width:500px; 
    height:auto;
    display:block;
    z-index:999;
    max-width:100%;
    height: auto;
}

.textToolTip{
  color: blue;
}

.createdBy {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: cadetblue;

  
}

.center {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 12px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.button4:hover {
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
/*
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
*/
